lane_merged_test/fastq/
non_lane_merged_test/fastq/
lane_merged_test/assembly/README.md
lane_merged_test/assembly/summary/*
lane_merged_test/assembly/envs/seattle-flu-environment.yaml
lane_merged_test/assembly/.snakemake/*
lane_merged_test/assembly/process/*
lane_merged_test/assembly/all_output.out
lane_merged_test/assembly/scripts/*
lane_merged_test/assembly/references/*
lane_merged_test/assembly/.git/*
non_lane_merged_test/assembly/illumina-adapters.fasta
non_lane_merged_test/assembly/README.md
non_lane_merged_test/assembly/summary/*
non_lane_merged_test/assembly/envs/seattle-flu-environment.yaml
non_lane_merged_test/assembly/.snakemake/*
non_lane_merged_test/assembly/process/*
non_lane_merged_test/assembly/all_output.out
non_lane_merged_test/assembly/scripts/*
non_lane_merged_test/assembly/references/*
non_lane_merged_test/assembly/.gitignore
non_lane_merged_test/assembly/.git/*
